@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url('./assets/fonts/raleway-regular.woff') format('woff'),
      url('./assets/fonts/raleway-regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Raleway';
    font-weight: 600;
    src: url('./assets/fonts/raleway-semibold.woff') format('woff'),
      url('./assets/fonts/raleway-semibold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('./assets/fonts/raleway-bold.woff2') format('woff2'),
      url('./assets/fonts/raleway-bold.woff') format('woff');
  }
}
